rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // 1. دالة للتحقق من أنك أنت الآدمين
    // ⚠️ ضروري: بدل هذا بالإيميل ديالك الحقيقي
    function isAdmin() {
      return request.auth != null && request.auth.token.email == "mohamedajimi55@gmail.com";
    }

    // 2. قواعد ملفات المستخدمين
    match /users/{userId} {
      allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
    }

    // 3. قواعد عامة
    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}