rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // دالة كتحقق واش نتا هو مول هاد الإيميل بالضبط
    function isSuperAdmin() {
      return request.auth != null && request.auth.token.email == "rrenglish66@gmail.com";
    }

    // 1. حماية بيانات المستخدمين
    match /users/{userId} {
      // القراءة مسموحة لمول الحساب وللأدمن
      allow read: if (request.auth != null && request.auth.uid == userId) || isSuperAdmin();
      
      // الإنشاء (ملي يالاه كيتسجل) مسموح
      allow create: if request.auth != null && request.auth.uid == userId;
      
      // التعديل: مسموح ولكن ممنوع يقيس الحقل ديال role (إلا يلا كان أدمن)
      allow update: if (request.auth != null && request.auth.uid == userId 
                    && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['role'])) 
                    || isSuperAdmin();
                    
      allow delete: if isSuperAdmin();
    }

    // 2. كوليكشن Learn
    match /learn_lessons/{document=**} {
      allow read: if request.auth != null; // باقا فيها ثغرة غنشرحها ليك لتحت
      allow write: if isSuperAdmin();
    }

    // 3. كوليكشن Practice
    match /practice_lessons/{document=**} {
      allow read: if request.auth != null; // باقا فيها ثغرة غنشرحها ليك لتحت
      allow write: if isSuperAdmin();
    }

    // 4. قاعدة عامة للأدمن
    match /{document=**} {
      allow read, write: if isSuperAdmin();
    }
  }
}